<div class="'row bg-light">
<div class="col-sm-6">
    <form>
        <fieldset class='form-group'>
            <legend>Add a movie</legend>
            <div class='form-group'>
                <label for="title">Movie Title</label>
                <input name="title" class="'form-control" placeholder="Enter Movie title" #movietitle>
            </div>
            <div class = 'form-group'>
                <label for="director">Director</label>
                <input name="director" class="form-control" placeholder="Enter director name" #moviedirector>
            </div>

            <div class = 'form-group'>
                <label for="year">Year</label>
                <input name="Year" class="form-control" placeholder="Enter year" #movieyear>
            </div>
            <button (click)="addNewMovie(movietitle, moviedirector, movieyear)" class="btn btn-primary">Add New Movie</button>

        </fieldset>

    </form>

</div>
</div>
